* {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(0, 0, 0, 0.3); /*Will put a light border around everything*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;								/*Sets boundary so containers are easier to manage*/
	text-align: center;
} /**/
.experimental {
	visibility: hidden;
}
nav {
	top: 0;
	display: block;
	position: fixed; /*Moved from nav.navbar*/
}
nav.navbar {
	background-color: rgba(0,0,0,0.5);
	text-align: left;
	width: 100%;
	text-transform: uppercase;
	z-index: 10;
}
nav.navbar ul {
	list-style-type: none;
	font-size: 0;
	border: 1px solid red;
}
nav.navbar li {
	float:left;
	border: 1px solid red;
}
.navbar a:-webkit-any-link {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding:12px 15px;
	font-size: 2.2vh;
	border: 1px solid red; /*Border to se finished boundary.*/
}
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url("../images/torch1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh; /*vh scales to the screen size*/
	background-position: 50% 50%;
	border: 1px solid red;
}
.jumbotron h1 {
	color: white;
	position: relative;
	top: 15.2vh;
	text-align:center;
	font-size: 8.8vh;
	text-shadow: 2px 2px 8px rgb(50, 50, 50);
	min-width: 370px;
	border: 1px solid red;
}
.jumbotron p {
	color: white;
	position: relative;
	top: 12vh;
	text-align: center;
	font-size: 5vh;
	text-shadow: 2px 2px 8px rgb(50, 50, 50);
	min-width: 370px;
	border: 1px solid red;
}
.jumbotron h2 {
	color: white;
	position: relative;
	top: 7vh;
	height: 0vh;
	text-align: center;
	font-size: 5vh;
	text-shadow: 2px 2px 8px rgb(50, 50, 50);
	min-width: 370px;
	border: 1px solid red;
}
img.resize {
	border-radius: 100%;
	width:80%;
	max-width: 44vh;
	max-height:44vh;
}
.w3-container {
	min-width:44vh;
	min-height:44vh;
	margin: auto;
	width: 96vh;
}
.w3-container h1 {
	font-size: 4.6vh;
}
.w3-container h1::before {
	content: " ";
    display: inline-block;
    vertical-align: 1.5vh;
    margin: 0 1.26vh;
    position: relative;
    padding-bottom: 0%;
    width: 10vh;
    background: #ec1010;
	height:0.35vh;
}
.w3-container h1::after {
	content: " ";
    display: inline-block;
    vertical-align: 1.5vh;
    margin: 0 1.26vh;
    position: relative;
    padding-bottom: 0%;
    width: 10vh;
    background: #ec1010;
	height:0.35vh;
}
footer {
	background-color: #01015f;
	color: white;
	padding: 5vh;
}
