* {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(0, 0, 0, 0.3); /*Will put a light border around everything*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;								/*Sets boundary so containers are easier to
manage*/
	text-align: center;
}

h1 {
	color: maroon;
}

.experimental {
	visibility: hidden;
}
.navbar {
	width: 100%;
	text-align: left;
}
