* {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(0, 0, 0, 0.3); /*Will put a light border around everything*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;								/*Sets boundary so containers are easier to manage*/
}
/*
h1 {
	color: maroon;
}
*/
.experimental {
	visibility: hidden;
}
nav.navbar {
	background-color: #000080;
	text-align: left;
	display: inline-block;
	position: relative;
	width: 100%;
	text-transform: uppercase;

}
.navbar a:-webkit-any-link {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding:12px 15px;
	font-size: 14px;
	border: 1px solid rgba(220,20,60, 0.3); /*Border to se finished boundary.*/
}
nav.navbar ul {
	list-style-type: none;
}
nav.navbar li {
	float:left;
}
/*
.header {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 133px;
	height: 500px;
}
*/
